<h2>Gross Revenue</h2>

<table id='purchasers'>
  <thead>
    <tr>
      <td>Name</td>
      <td>Deal Description</td>
      <td>Number Purchased</td>
      <td>Total Spent</td>
    </tr>
  </thead>
  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.purchaser.name %></td>
        <td><%= deal.item.description %></td>
        <td><%= deal.count %></td>
        <td>$<%= deal.cost %>0</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id='total_revenue'>
  <p style='font-weight:bold'>Total Revenue: $<%= @total_revenue %>0<p>
</div>
